################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/webapp/obj
/webapp/.vs/webapp/v17
